
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Video Conferencing Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/room.css'%}" />
    <title>Join Meeting</title>
</head>

<body>

    <div class="container">
        <div class="top-icons">
            <nav>
                <div class="loader">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </nav>
        </div>

        <br><br>
        <div class="row">
            <div class="col-8" class="sz">
                <div class="first_c">

                    <div class="text">

                        <h3>Preminum video meetings <br> Now Free For Everyone</h3>
                        <p>We re-engineered the service we built for secure business meetings,<br>Video Conference, to make it free and available for all. </p>
                    </div>
                    <br>
                    <div class="grid-container">
                        <!-- <label for="fname">First Name</label> -->
                        <input type="text" id="Room_id" name="firstname" placeholder="Enter a Code or Link">
                        <button class="dropbtn" id="btn-create">Create meeting</button>
                        <button class="dropbtn" id="btn-join">join</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
